carpeta style.css 

*{
    margin: 0px;
    padding: 0px;
}
body{
<<<<<<< HEAD
    background-color: rgb(229, 213, 255);
=======
    background-color: rgb(255, 237, 213);
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    }

#header{
<<<<<<< HEAD
    height: 145px;
    background-color: rgb(171, 140, 243);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
 
=======
    height: 110px;
    background-color: rgb(255, 254, 180);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b
}

#logo{
    padding: 20px;
<<<<<<< HEAD
    margin-left: 5px;
    float: left;

=======
    margin-left: 20px;
    float: left;
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b
}

#logo img{
    float: left;
    height: 100px;
<<<<<<< HEAD
}

#menu{

    background-color: rgb(199, 162, 248);
    color: rgb(76, 15, 175);
    height: 50px;
    border-bottom: 4px solid rgb(111, 0, 255);
=======

}


#menu{

    background-color: rgb(255, 254, 180);
    color: rgb(0, 0, 0);
    height: 50px;
    border-bottom: 4px solid rgb(98, 0, 255);
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b

}

#menu ul{
    list-style: none;
    text-decoration: none;
<<<<<<< HEAD
    margin: 0px auto;
    margin-left: 25px;
=======
    margin: 10px auto;
    margin-left: 1px;
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b


}

#menu ul li{
<<<<<<< HEAD
    line-height: 55px;
=======
    line-height: 22px;
>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b
    float: left;
    border-right: 1px solid rgb(12, 8, 0);
}

#menu a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

#menu a:hover{
<<<<<<< HEAD
    background: rgb(98, 0, 255);
}
=======
    background: rgb(255, 217, 0);
}

>>>>>>> 868d02a5d80fff0fc8fcb5ae813cf66fede6554b
