carpeta style.css 

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 237, 213);
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    }

#header{
    height: 110px;
    background-color: rgb(255, 254, 180);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;

}


#menu{

    background-color: rgb(255, 254, 180);
    color: rgb(0, 0, 0);
    height: 50px;
    border-bottom: 4px solid rgb(98, 0, 255);

}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 10px auto;
    margin-left: 1px;


}

#menu ul li{
    line-height: 22px;
    float: left;
    border-right: 1px solid rgb(12, 8, 0);
}

#menu a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

#menu a:hover{
    background: rgb(255, 217, 0);
}

